/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Default Body*/
body * {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

/* Body Styling */
body {
    /*
    background-image: url(./assets/.);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*short-hand or shortcut - transformation in an unique propertie*/
    background: url(./assets/background-image/bg-desktop.jpg) no-repeat top center/cover;
}

/* Container Styling */
#container {
    width: 360px;
    margin: auto;
    margin: 56px auto 0px;
    padding: 0px 24px;
}

/* Element father */
#profile {
    text-align: center;
    padding: 24px;
}

/* Profile image Styling */
#profile img{
    width: 112px;
}

/* Profile text Styling */
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* Parent element of the <UL> */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Links Styling */
ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s ease;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1.3px solid rgba(255, 255, 255, 0.8);
}

/* Site: CSS Tricks or Can I Use */